.loginPage {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.loginPage form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 15px !important;
}

.error {
  color: red;
  font-weight: bold;
}